@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Flexbox to center the quote box */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  /* This transition will animate the background color change */
  transition: background-color 1s ease;
}

/* We will control the background color from the App component */
